body {
  background-color: #202020;
}
label {
  color: #DDDDDD;
  font: menu;
}
h1 {
  color: #DDDDDD;
  font: menu;
  font-size: 300%;
}
h2 {
  color: #DDDDDD;
  font: menu;
  font-size: 200%;
}
a {
  color: #FFFFFF;
}
